torch==2.10.0
torchvision
numpy
opencv-python
click
pytorch-lightning
tensorboard
torchmetrics==1.9.0
rich
sympy
matplotlib
tqdm
timm
constriction
vector-quantize-pytorch
pytorch-msssim==1.0.0
lpips==0.1.4
git+https://github.com/thomgrand/torch_kdtree.git
xformers
pudb
jaxtyping
./submodules/gsplat
./submodules/fused-ssim